@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: oklch(0.97 0.02 145);
}

::-webkit-scrollbar-thumb {
  background-color: oklch(0.72 0.19 145);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: oklch(0.64 0.21 145);
}

::-webkit-scrollbar-button {
  display: none;
}

html.dark::-webkit-scrollbar-track {
  background-color: oklch(0.22 0.02 145);
}

html.dark::-webkit-scrollbar-thumb {
  background-color: oklch(0.55 0.19 145);
}

html.dark::-webkit-scrollbar-thumb:hover {
  background-color: oklch(0.64 0.21 145);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: oklch(0.72 0.19 145) oklch(0.97 0.02 145);
}

html.dark {
  scrollbar-color: oklch(0.55 0.19 145) oklch(0.22 0.02 145);
}
